.search--header {

}

.search--header .search__icon {
  width: 25px;
  height: 25px;
  margin: 4px 0 1px 44px;
  background: url(search_icon.png) no-repeat scroll 4px 4px;
  border: none;
  display: block;
}

.search--header .search__form {
  background: #f2f2f2;
  position: absolute;
  right: 15px;
  top: 31px;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  z-index: 10;
  display: none;
}

.search--header:hover .search__form {
  display: block;
}
