.form--subscribe {
  background: #f2f2f2;
  border-radius: 5px;
  padding: 5px;
}

.form--subscribe .form__field {
  font-size: 13px;
  padding: 13px 15px;
}

.form--subscribe .form__submit {
  font-size: 14px;
  padding: 11px 8px;
  float: right;
}
