.footer {
  font-size: 15px;
  padding-top: 52px;
}

.footer__title {
  font-size: 30px;
  letter-spacing: 1.5px;
}

.footer__content {
  line-height: 30px;
}

.footer__separator {
  background: #d1d1d1;
  border: none;
  height: 1px;
  margin: 6px 0;
  margin-top: 80px;
}

.footer__copyright {
  font-size: 13px;
  margin-bottom: 10px;
}
